
.container {
    max-height: 200px;
    max-width: 300px;
    text-align: center;
    margin-left: auto;
    padding: 68px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    outline: none;
    -moz-box-shadow: 0 0 100px #000000;
    -webkit-box-shadow: 0 0 100px #000000;
    box-shadow: 0 0 100px #000000;
    position: absolute;
    top: 50%;
    margin-top:-100px;
    left: 50%;
    margin-left:-200px;
    color: #ccc;
    text-align:center;
    vertical-align:middle
}

input[type="text"] {
    padding: 9px 40px;
    outline: none;

}

input[type="password"] {
    padding: 9px 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    -moz-box-shadow: 0 0 6px #000000;
    -webkit-box-shadow: 0 0 6px #000000;
    box-shadow: 0 0 6px #000000;
}

input[id="username"] {
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    -moz-box-shadow: 0 0 6px #000000;
    -webkit-box-shadow: 0 0 6px #000000;
    box-shadow: 0 0 6px #000000;

}

#submit {
    outline: none;
    padding: 8px 20px;
    border-radius: 10px;
    /*background-color: #adffc6;*/
    background-color: white;
    border: none;
    -moz-box-shadow: 0 0 6px #000000;
    -webkit-box-shadow: 0 0 6px #000000;
    box-shadow: 0 0 6px #000000;
}

#submit:hover {
    background-color: #adffc6;
}

