h1 {
	font-size: 70px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	border-bottom: solid #000000;
	border-width: 3px;

}

.top {
	background-image: url("background.jpg");
	background-attachment: fixed;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	width:100%;
	height:10000000%;
}


div {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	text-align:center;
	color: #FFFFFF;
	padding: 10px;
	border: solid #FFFFFF;
	border-width: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	vertical-align: center;

}

.lec:hover {
	background-color: #FFFFFF;
	transition: 0.5s;
	color: #000000;
}

.lec {
	opacity: 0;
}

.btn1:hover {
	background-color: #FFFFFF;
	transition: 0.5s;
	color: #000000;
}
