
<html>

	<head>
    <script src="jquery-3.2.1.min.js"></script>
    <script>
    "use strict";
    $("document").ready(function(){
      console.log("indiendineind");
      var count = 1;
      $(".btn1").click(function(){
        $(".top").append("<div class = \"lec\">LEC ".concat(count)+"</div>");
				$(".top").css({"height": ((count * 10 + 100).toString()).concat("%")});
        count++;
      });
    });
    </script>
		<link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300">
	</head>

	<body>
		<h1 id="header"> SumNotes </h1>

    <div class = "top">
    <div class="btn1">
      +
    </div>
    </div>
	</body>

</html>
