
<html>

	<head>
    <script src="{{ url_for('static',filename='jquery-3.2.1.min.js') }}"></script>
    <script>
    "use strict";
    $("document").ready(function(){
      console.log("indiendineind");
      var count = 1;
      $(".btn1").click(function(){
        $(".top").append("<div class = \"lec\">LEC ".concat(count)+"</div>");
				$(".top").css({"height": ((count * 10 + 100).toString()).concat("%")});
        count++;
      });

      $(".lec").click(function() {
        // do this work
        var n  = Number( $(this).text().slice(3));
        $.ajax({
              url: "http://localhost:5000/lectures",
              type: 'POST',
              data: "username=".concat(username),
              xhrFields: {
                withCredentials: true
              },
              crossDomain: true,
              success: function (data) {
                window.location = "http://localhost:5000/record"
              }
              //     var json = JSON.parse(data);
              //     var result = json["result"]
              //     if (result==="200"){
              //         console.log("SUCCESS")
              //         // TODO redirect to SB page
              //     }
              //     else if (result==="403"){
              //         $("#password").effect("bounce");
              //         console.log("DAIL")

              //     }
              //     alert(result);
              // }


          });
      });
    });
    </script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300">
	</head>

	<body>
		<h1 id="header"> SumNotes </h1>

    <div class = "top">
    <div class="btn1">
      +
    </div>
    </div>
	</body>

</html>
