<html>

  <head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='recordingstyle.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300">
    <script src="{{ url_for('static',filename='jquery-3.2.1.min.js') }}"></script>
  </head>

  <body>
    <h1 id="header"> SumNotes </h1>
    <div class="container">
      <button onclick="startDictation(event)">Start Recording</button>
    </div>
    <div class = "text" id = "1">
    <div class = "text" id = "2">
    </div>





    <div id="results">
  <span id="final_span" class="final"></span>
  <span id="interim_span" class="interim"></span>
</div>

<script type="text/javascript">
var final_transcript = '';
var recognizing = false;

if ('webkitSpeechRecognition' in window) {

  var recognition = new webkitSpeechRecognition();

  recognition.continuous = true;
  recognition.interimResults = false;

  recognition.onstart = function() {
    recognizing = true;
  };

  recognition.onerror = function(event) {
    console.log(event.error);
  };

  recognition.onend = function() {
    recognizing = false;
  };

  recognition.onresult = function(event) {
    var interim_transcript = '';
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        final_transcript += event.results[i][0].transcript;
      } else {
        interim_transcript += event.results[i][0].transcript;
      }
    }
    final_transcript = capitalize(final_transcript)+".";
    console.log(final_transcript);
    final_span.innerHTML = linebreak(final_transcript);
    
  }


}

var two_line = /\n\n/g;
var one_line = /\n/g;
function linebreak(s) {
  return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
}

function capitalize(s) {
  return s.replace(s.substr(0,1), function(m) { return m.toUpperCase(); });
}

function startDictation(event) {
  if (recognizing) {
    recognition.stop();
    var json = {};
    var result = "";

    //var div1;
    //var div2;

    $("#1").innerHTML=""; 
    $("#2").innerHTML="";

    $.ajax({
        url:  "http://localhost:5000/transcript",
        type:"POST",
        data: {"text":final_transcript},
        success: function(data) {
          json = JSON.parse(data); 
          result = json["result"];
          console.log(result);

          div2 = document.getElementById("2");
          div2.innerHTML += result + " ";
        },
    
    });
    //var text = json["result"];
    //div2 = document.getElementById("2");
    //  div2.innerHTML += final_transcript;

    return;
  }
  final_transcript = '';
  recognition.lang = 'en-US';
  recognition.start();
  final_span.innerHTML = '';
  interim_span.innerHTML = '';
}
</script>
  </body>

</html>
