<html>
<body background="background.jpg">

<head>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body>


<div class="container">

    <form method="post">
        <input type="text" id="username" placeholder="Username"> </br>

        <input type="password" name="password" id="password" placeholder="Password">
    </form>

    <button type="button" id="submit" onclick="getText()"> Submit</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>


    <script type="text/javascript">

        function getText() {
            password = document.getElementById("password").value;
            console.log("HERE")
            username = document.getElementById("username").value;
            if ((username == "") || (password == "")) {
                if (username == "") {
                    $("#username").effect("bounce");

                }
                password = document.getElementById("password").value;
                if (password == "") {
                    $("#password").effect("bounce");


                }
            }


            else {
                console.log("NOT HERE")

                $.ajax({
                    url: "http://127.0.0.1:5000/r",
                    type: "POST",
                    data: "username=".concat(username) + "&password=".concat(password),
                    success: function (data) {
                        var json = JSON.parse(data);
                        var result = json["result"]
                        if (result==="200"){
                            console.log("SUCCESS")
                            // TODO redirect to SB page
                        }
                        else if (result==="403"){
                            $("#password").effect("bounce");
                            console.log("DAIL")

                        }
                    }


                });
            }
        }

    </script>
</div>
</body>


</html>
